.App {
  text-align: center;
}

body {
  background-color: #921549;
  text-align: center;
  text-decoration-line: underline;
  color: rgb(204, 159, 9);
  padding: 100px;
}
.App-link {
  color: #c28108;
}

